.Rproj.user
.Rhistory
.RData
.Ruserdata
teste.csv
train.csv
PROPOSICOES_E_TRAMITACOES.csv
TRAMITACOES.csv
teste.RDS
train.RDS
train_test.RData
train_test.zip
final_train.RData
dados_chance.csv
aprovometro.json
train_test2.RData
